@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/sweetalert/dist/sweetalert";
@import "node_modules/lightbox2/dist/css/lightbox";
@import "partials/form";

body {
  padding-top: 70px;
}

img{
  max-width: 100%;
}

.gallery_image{
  margin-bottom: 1em;
  position: relative;
}
.delete-image-form{
  position: absolute;
  top: 2px;
  left: 17px;
}

.delete-image {
  height: 22px;
  padding: 3px;
  background: rgba(0,0,0, .8);
}